 /*       @media (max-width: 1024px) {
            .container1 {
               height: 14vh;
            }
        }*/
        
/*        @media (max-width: 640px) {
            .container1 {
               height: 12vh;
            }
        }*/

        
   /*      @media (min-width: 641px) and (max-width: 1024px) {
            .container1 {
                background-color: darkgoldenrod;
            }
        }*/
